<!--Home Sections-->

<section id="home" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h1 class="text-yellow">LIFE VENTURES</h1>
                                <h3 class="text-white text-uppercase">라이프벤처스: 3세대 인공심장 프로토타입 연구 프로젝트</h3>
                            </div>
                        </div><!-- End off slid item -->

                    </div>
                </div>

            </div>


            <a class="mouse-scroll" href="#about"> 
                <span class="mouse">
                    <span class="mouse-movement"></span>
                </span>
                <span class="mouse-message fadeIn">Explore</span> <br />
                <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>--> 
            </a>

        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->



<!--About Section-->
<section id="about" class="about bg-yellow roomy-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_about text-center">
                    <h1 class="text-black">Arduino, Electronics, Platform</h1>
                    <br>
                    <h3 class="text-black text-uppercase">아두이노 센서, 전자회로기판을 이용하여 미래의 3세대 인공심장 모형을 제작하고, 플랫폼을 통해 모니터링 합니다.</h3>

                    <a href="" class="btn btn-primary m-top-100">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Featured Section-->
<section id="features" class="features bg-white">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
              
                <div class="col-md-5">
                    <div class="features_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Our <strong>Technology</strong></h2>
                        </div>
                        <div class="featured_content">
                            <p>라이프벤처스는 모바일, 웹의 플랫폼 개발을 포함하여 전자회로기판 설계와 아두이노 센서 프로그래밍 경험이 있는 학생들로 구성된 게릴라 팀입니다. 저희는 기술융합을 통해 국내 의료기술 발전에 기여합니다.</p>

                            <a href="" class="btn btn-default m-top-40">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1 sm-m-top-50">
                    <div class="features_item2_area">
                        <div class="features_item2 text-center">
                            <div class="divider_horizontal"></div>
                            <div class="divider_vertical"></div>
                            <div class="col-xs-6">
                                <div class="features_item_text">
                                    <img src="/images/arduino.png" alt="" class="img-circle" />
                                    <p class="m-top-20">Arduino</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text">
                                    <img src="/images/electronics.png" alt="" class="img-circle" />
                                    <p class="m-top-20">Electronics</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text m-top-50">
                                    <img src="/images/mobile1.png" alt="" class="img-circle" />
                                    <p class="m-top-20">Mobile</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text m-top-50">
                                    <img src="/images/web1.png" alt="" class="img-circle" />
                                    <p class="m-top-20">Web</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->


<!--Business Section-->
<section id="service" class="service bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6">
                    <div class="service_slid">
                        <div class="slid_shap bg-yellow"></div>
                        <div class="service_slid_item text-center">
                            <div class="service_slid_text">
                                <span class="icon icon icon-technology-10 text-black-service"></span>
                                <h5 class="text-black-service m-top-20">프로토타입 설계</h5>
                            </div>
                            <div class="service_slid_text">
                                <span class="icon icon icon-computer-screen21 text-black-service"></span>
                                <h5 class="text-black-service m-top-20">플랫폼 개발</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="service_item sm-m-top-50">
                        <div class="head_title">
                            <h2 class="text-uppercase">Our <strong>Service</strong></h2>
                        </div>
                        <div class="service_content">
                            <p>라이프벤처스는 아두이노와 전자회로기판으로 제작이 가능한 프로토타입 설계와 모바일 및 웹 플랫폼 개발 서비스가 가능합니다.</p>

                            <a href="" class="btn btn-default m-top-40">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Business section -->


<!--Team And Skill Section-->
<section id="teams" class="teams roomy-80">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="col-md-6">
                    <div class="teams_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Our <strong>Best Team & Skill</strong></h2>
                        </div>
                        <p>라이프벤처스를 구성하고 있는 리더 및 팀원들은 모두 건국대학교 서울캠퍼스에 재학 중이며 각기다른 전공 분야를 공부하며 다양한 기술을 연구/개발 하고 있습니다.</p>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="teams_item text-center sm-m-top-50">
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="/images/sihyung.jpg" alt="" class="img-circle" />
                                <h4 class="m-top-20"><strong>선시형</strong></h4>
                                <h5>Leader</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-4 -->
                            <div class="col-sm-4">
                                <img src="/images/seongil.jpg" alt="" class="img-circle" />
                                <h4 class="m-top-20"><strong>최승일</strong></h4>
                                <h5>Electronics Technician</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-4 -->
                            <div class="col-sm-4">
                                <img src="/images/team3.jpg" alt="" class="img-circle" />
                                <h4 class="m-top-20"><strong>이승주</strong></h4>
                                <h5>Mobile Developer</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-4 -->
                            <div class="col-sm-4 last-member">
                                <img src="/images/hyeoke.jpg" alt="" class="img-circle" />
                                <h4 class="m-top-20"><strong>전준혁</strong></h4>
                                <h5>Web Developer</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-4 -->
                        </div>
                    </div>
                </div><!-- End off col-md-6 -->
            </div><!-- End off main Team -->

            <div class="col-md-12">
                <div class="skill">
                    <div class="team_content_details_skills m-top-50">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="80%">
                                    <label>전자/전기</label>
                                    <div class="teamskillbar-bar" style="width: 80%;"></div>
                                </div> <!-- End Skill Bar -->

                                <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="75%">
                                    <label>모바일(안드로이드)</label>
                                    <div class="teamskillbar-bar" style="width: 75%;"></div>
                                </div> <!-- End Skill Bar -->
                            </div>

                            <div class="col-sm-6">
                                <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="90%">
                                    <label>웹 퍼블리싱</label>
                                    <div class="teamskillbar-bar" style="width: 90%;"></div>
                                </div> <!-- End Skill Bar -->

                                <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="98%">
                                    <label>식음료 제조/개발</label>
                                    <div class="teamskillbar-bar" style="width: 98%;"></div>
                                </div> <!-- End Skill Bar -->
                            </div>

                        </div>
                    </div>
                </div><!-- End off skill -->
            </div><!-- End col-md-12 -->
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Team & Skill section -->


<!--Portfolio Section-->
<section id="portfolio" class="portfolio margin-top-120">
    <!-- Portfolio container-->
    <div class="container">
        <div class="row">
            <div class="main-portfolio roomy-80">

                <div class="col-md-4">
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                        <h2>Our Active</h2>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="filters-button-group text-right sm-text-center">
                        <button class="btn button is-checked" data-filter="*">all</button>
                        <button class="btn button" data-filter=".mc">나의챔피언</button>
                        <button class="btn button" data-filter=".rr">부활포</button>
                    </div>
                </div>



                <div style="clear: both;"></div>

                <div class="grid text-center grid-wrap">
                    <div class="grid-item mc">
                        <img alt="" src="/images/kon33_2.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-110">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-1.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item mc">
                        <img alt="" src="/images/kon33.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-110">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-1.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item mc" >
                        <img alt="" src="/images/kon32.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-180">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-2.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item mc">
                        <img alt="" src="/images/kon34.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-50">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-3.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item rr">
                        <img alt="" src="/images/bu33_2.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-110">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-1.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item rr">
                        <img alt="" src="/images/bu33.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-110">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-1.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item rr" >
                        <img alt="" src="/images/bu32.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-180">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-2.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->

                    <div class="grid-item rr">
                        <img alt="" src="/images/bu34.jpg">
                        <div class="grid_hover_area text-center">
                            <div class="girid_hover_text m-top-50">
                                <h4 class="text-white">Your Work Title</h4>
                                <p class="text-white">- Business Card, Branding</p>
                                <a href="/images/porfolio-3.jpg" class="btn btn-primary popup-img">View Project</a>
                            </div>
                        </div><!-- End off grid Hover area -->
                    </div><!-- End off grid item -->
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div><!-- Portfolio container end -->
</section><!-- End off portfolio section -->



